
RewriteEngine on
#RewriteCond %{REQUEST_URI} !\.(?:css|js)$ [NC]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^detail/(css|js|img)/(.*)?$ /$1/$2 [L,QSA,R=301]
RewriteRule ^.*$ public/index.php [L]